/.git
.gitignore
.dockerignore
.superpowers
cache
spike
deploy
db/tests
back/tests
front/tests
front/dist
**/renv
**/.Rprofile
**/.Renviron
**/.Renviron.example
**/.Rhistory
CLAUDE.md
**/README.md
TODO.md
air.toml
.lintr
compose.dev.yml
